body {
    background-color:#FFF;
}
/* HEADER */
header {
	position: fixed;
}

/*NAVIGATION*/
nav {
    height:50px;
    width:100%;
    background-color:#4FD9EC;
    top:0;
    position:fixed;
    overflow:hidden;
   
}
.nav_icon {
	text-align:center;
}
.img-nav img{
	width:30px;
	height:30px;
}

/*CONTAINER */
.container {
	width:100%;
	height:100%;
}
/*COLUMNS NAV*/
.columns {
    width: 250px;
	background-color:#000;
	height: 100% !important;
    position:fixed;
	left:0;
	top:0;	
	display:block;
	
}
/*COLUMNS NAV-2*/
.columns_col {
    width: 250px;
	background-color:#262626;
	height: 100% !important;
	position:fixed;
	right:0;
	top:0;	
	display:block;
}
