body {
    background-color:#FFF;
}
/*NAVIGATION*/
nav {
	width:100%;
    height:70px;
    background-color:#4FD9EC;
	top:0;
	left:0;
	position:fixed;
	overflow:hidden;
	display:flex;
	justify-content:center;
}

/*CONTAINER*/
.container {
	max-width:100%;
	
}

/*COLUMNS*/
.columns {
    width:250px;
	background-color:#000;
	height:100% !important;
    position:fixed;
	left:0;
	top:0;	
	display:block;
	
}
.columns_col {
    width:250px;
	background-color:#262626;
	height:100% !important;
	position:fixed;
	right:0;
	top:0;	
	display:block;
}
main {
	width:780px;
	height:100%;
}
/*img nav*/
.nav_icon {
	display:flex;
	list-style-type:none;
	align-items: center;
	margin:0 -10px;

}
.nav_icon .change {
	margin-right:130px;
	margin-left:-100px;
}

/*.change{
	margin:0 10px;
	padding-right:30px;

	

}*/
.change .big {
	padding-left:-5em;
	
}
.change .small {
	padding-right:-5em;

}

.change-change {
	margin-left:35em;
    color:#ffff;
}

.change-change .ide {
	display:flex;
	align-items: center;

}
	
.nav_icon .big {
	width:30px;
	height:30px;
}

.nav_icon .small {
	width:30px;
	height:30px;	
}

.ide {
	width:45px;
	height:45px;
	
}

