@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;600&display=swap');



html, body {
	margin:0;
	padding:0;
}

body {
    background-color:#FFFF;
}

.container {
	width:100%;
	height:2000px;
	display:flex;
	
}

img {
	width:100%;
}

/* NAVIGATION */
	.nav_icon {
		background-color:#4FD9EC;
		width:100%;
    	height:50px;
		top:0;
		left:0;
		position:fixed;
		overflow:hidden;	
	/*overflow:hidden;*/
	}
	
	.nav_icon {
		/*display:inline-block;
		padding:0 20px;*/
		display:flex;
		padding:5px 20px;
		align-items:center;
	}
	.nav_icon .twin{
		display:inline-block;
		/*padding-right:0 20px;*/
		margin-left:250px;	
	}

	.nav_icon .id{
		display:inline-block;
		/*padding:0 800px;*/
		margin-left:1800px;	
		
	}

	.small {
		width:30px;
		height:30px;
		

	}
	.big {
		width:30px;
		height:30px;
		margin-left:10px;
	}
	.ide {
		width:40px;
		height:40px;
		float:left;
		
	}

	.profil {
		float:right;
		margin-top:15px;
		color:#FFE604;
		font-family:'Arimo', sans-serif;
		font-size:12px;

	}
	.id {
		display:flex;	
	}

	/*.profil {
		display:inline-block;
		align-self:flex-end;
		

			
	}*/
	
	/*COLUMNS*/
	.columns {
    	width:250px;
		background-color:#FFE604;
		background-image: url("../images/spoti_back_redisign.png");
		background-size:250%;
		background-repeat: no-repeat;
		background-position:center;
		height:100% !important;
    	position:fixed;
		left:0;
		top:0;	
		display:block;
	
	}

	.logo .spoti {
		width:170px;
		margin-left:20px;
	}

    .spoti {
		width:100%;
	}

	.icon {
		list-style-type: none;
		/*display:flex;*/
		/*flex-direction:column;*/
		padding-left:35px;
		/*align-items:flex-start;*/	
	}

	.image-icon {
		display:flex;
		margin-top:15px;
	}

	img .home {
		display:inline-block;
		align-self:flex-start;
	}
	img .search {
		display:inline-block;
		align-self:flex-start;
	}
	img .library {
		display:inline-block;
		align-self:flex-start;
	}

	img .playlist {
		display:inline-block;
		align-self:flex-start;
	}

	img .song {
		display:inline-block;
		align-self:flex-start;
	}

	hr {
		width:200px;
		margin-right:20px;
		color:#4FD9EC;
		border:1px solid;
	}

	.play1, .play2, .play3 {
		color:#4FD9EC;
		font-family:'Arimo', sans-serif;
		font-weight:700;
		font-size:12px;
		margin-top:15px;

	}

	img {
		width:100%;
	}

	.image-icon img{
		width:20px;	
		padding-bottom:5px;
	
	}

	.home, .search, .library, .playlist, .song {
		font-family:'Arimo', sans-serif;
		font-weight:700;
		color:#FFFF;
		font-size:12px;
		margin-left:10px;
		margin-top:6px;
	
	}

	.columns_col {
		width:250px;
		background-color:#FFE604;
		background-image: url("../images/spoty-redisign.png");
		background-size:250%;
		background-repeat: no-repeat;
		background-position:center;
		height:100% !important;
		position:fixed;
		right:0;
		top:0;	
		display:block;
	}

	.one {
		width:50px;
		height:50px;
		
	}

	.two {
		width:50px;
		height:50px;
	}

	.three {
		width:50px;
		height:50px;
	}

	.friend p{
		color:#4FD9EC;
		font-family:'Arimo', sans-serif;
		font-weight:700;
		font-size:12px;
		margin-top:15px;
		margin-left:10px;

	}


	.followers p{
		color:#FF3EA5FF;
		font-family:'Arimo', sans-serif;
		font-weight:700;
		font-size:12px;
		margin-top:15px;
		margin-left:10px;

	}

	.profils p {
		color:#FF3EA5FF;
		font-family:'Arimo', sans-serif;
		font-weight:700;
		font-size:12px;

	}

	.profils_icons{
		display:flex;
	
	}
	.one p{
		display:inline-block;
		align-self:flex-start;
	}

	.two p{
		display:inline-block;
		align-self:flex-start;
	}

	.three p{
		display:inline-block;
		align-self:flex-start;
	}

	.settings p{
		color:#FF3EA5FF;
		font-family:'Arimo', sans-serif;
		font-weight:700;
		font-size:12px;
		margin-top:15px;
		margin-left:10px;

	}

	.setting-button {
		text-align:center;
	}

	button {
		width:150px;
		height:35px;
		border-radius:20px;
		border-color:#4FD9EC;
		font-size:11px;
		font-family:'Arimo', sans-serif;
		color:#FFFF;
		background-color:#4FD9EC; 
		
	}
	/*MAIN*/
	main {
		width:100%;
		height:100%;	
		background-color:chocolate;
		margin:0 auto;
	}
	/*CONTENT*/
	.content {
		width:1900px;
		height:100%;
		text-align:center;
		background-color: forestgreen;
		margin:0 auto;
	}

	.banner {
		text-align:center;
		background-color:violet;
		margin:0 auto;
		margin-top:70px;
	}

	.banner img {
		width:700px;
		height:200px;
		border-radius:5px;
		
	}
	/* MAIN */
	.goodmorning {
		text-align:left;
		margin-left:65px;
		font-family:'Arimo', sans-serif;
		font-size:25px;
		font-weight:700 bold;
	}

	.listen1 {
		/*display:flex;
		flex-direction:row;
		flex-wrap:wrap;*/
		display:grid;
		grid-template-columns:auto auto auto;
		
	}
	.listen2 {
		/*display:flex;*/
		/*justify-content:center; /* align horizontal */
		/*align-items:center; */
		display:grid;
		grid-template-columns:auto auto auto;
	}

	.im {
		padding:5px;
		box-sizing:border-box;
		
	}

	img {
		width:100%;
		
	}

	.im img{
		width:500px;	
	}
	/* SUBTITLES */
	h2 {
		font-family:'Arimo', sans-serif;
		color:#FFFF;
		font-size:40px;
		padding-top:5px;
		text-align:left;
		margin-left:10px;
	}
	.rb {
		width:1770px;
		height:60px;
		border-radius:25px;
		background-color:#FF3EA5FF;
		margin:0 auto;
	}

	/* MUSIC LIST */
	.music-list {
		display:grid;
		grid-template-columns:auto auto auto;
	}

	.line1 {
		margin-top:20px;
	}

	.line1 img {
		width:150px;	
		margin-right:10px;
	}

	/*FOOTER*/
	footer {
		height:150px;
		background-color:#000;
	}

	/*.kenny {
		width:500px;
		height:500px;
		
	
	}

	.jazz {
		width:500px;
		height:500px;
		
		
	}

	.peace {
		width:500px;
		height:500px;
		
		
			
	}*/

	/*.sampha_im {
		width:33%;
		
	}

	.breathe_im {
		width:33%;
	
	}
	.adele_im {
		width:33%;
		float:left;
	}


	.sampha {
		width:500px;
		height:500px;		
	
	}

	.breathe {
		width:500px;
		height:500px;
		
	}

	.adele {
		width:400px;
		height:400px;
		
		
	}*/
	
	
	
	
	/*.image-icon  .home {
		flex:1;
		padding:0 0.7em;
		flex:1 1 auto;	
	}*/

	/*.icon .search {
		flex:1;
		padding:10px;
	}*/

	/*.icon .library {
		flex:1;
		padding:10px;
	}*/

	/*.icon .playlist {
		flex:1;
		padding:10px;
	}*/

	/*.icon .song {
		flex:1;
		padding:10px;
	}*/
	
	

	/*img {
		width:100%;
	}

	.image-icon img{
		width:20px;	
		padding-bottom:5px;
	
	}

	.home, .search, .library, .playlist, .song {
		font-family:'Arimo', sans-serif;
		font-weight:700;
		color:#FFFF;
		font-size:12px;
		margin-left:10px;
		margin-top:6px;
	
	}*/
	/*.icon span {
		display:inline-flex;
		align-items:center;
	}*/
	



/*NAVIGATION
nav {
	width:100%;
    height:50px;
    background-color:#4FD9EC;
	top:0;
	left:0;
	position:fixed;
	overflow:hidden;
	display:flex;
	justify-content:center;
}

CONTAINER
.container {
	width:100%;
	height:1000px;
	
}

MAIN
main {
	width:780px;
	height:100%;
}

COLUMNS
.columns {
    width:250px;
	background-color:#FFE604;
	background-image: url("../images/spoti_back_redisign.png");
	background-size:250%;
	background-repeat: no-repeat;
	background-position:center;
	height:100% !important;
    position:fixed;
	left:0;
	top:0;	
	display:block;
	
}
.columns_col {
    width:250px;
	background-color:#FFE604;
	background-image: url("../images/spoty-redisign.png");
	background-size:250%;
	background-repeat: no-repeat;
	background-position:center;
	height:100% !important;
	position:fixed;
	right:0;
	top:0;	
	display:block;
}

ul {
	list-style-type:none;
	
}
.icon_spoti{
	margin-top:40px;
}
ul .home {
	background:url('../images/home.png') no-repeat left;
	background-size:180px 80px;
	background-size:contain;
	padding: 5px 10px 5px 25px;
	
}
ul .search {
	background:url('../images/loupe.png') no-repeat left;
	background-size:180px 80px;
	background-size:contain;
	padding: 5px 10px 5px 25px;
	

}

ul .library {
	background:url('../images/library.png') no-repeat left;
	background-size:180px 80px;
	background-size:contain;
	padding: 5px 10px 5px 25px;
	

}
/*.home{
	width:100%;
	height:300px;	
}*/
/*.loupe{
	width:90px;
	height:70px;		
}


.nav_icon {
	display:flex;
	list-style-type:none;
	align-items: center;
	margin:0 -10px;

}
.nav_icon .change {
	margin-right:130px;
	margin-left:-100px;
}

.nav_icon .change  {
	margin:10px;
	margin-right:30px;
	
}

/*.change .big {
	padding-left:-5em;
	
}
.change .small {
	padding-right:-5em;



.change-change {
	margin-left:35em;
    color:#ffff;
	font-family: 'Arimo', sans-serif;
}

/*.change-change .ide {
	display:flex;
	align-items: center;


	
.nav_icon .big {
	width:30px;
	height:30px;
}

.nav_icon .small {
	width:30px;
	height:30px;	
}

.ide {
	width:45px;
	height:45px;
	
}$/

